.navbar
{
    background-color:  #11698e;;
}

.navbar-brand
{
    color: whitesmoke  ;
}

.card-header
{
    background-color:  #11698e;;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 6px;
    font-size: 1.3rem;
}

.card-body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    border-radius:6px;
}

#loginButton
{
    padding: 0.3rem;
    font-size: 1.2rem;
    color: white;
    background-color: #11698e;
    border-radius: 6px;
    border: 2px solid #11698e;   
    align-items: center;
    margin-top: 1cm;
    margin-left: 1.5cm;
    margin-right: 1cm;
    width: 50%;
    justify-content: center;
    display: flex;
    
}

.clave
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    margin-left: 1.5cm;
}