<app-navbar-not-auth></app-navbar-not-auth>
<app-footer></app-footer>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="card shadow-lg p-3 mb-5 bg-white">
                <div class='card-header'> Iniciar sesión: </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="ingresar(loginForm.value)" nonvalidate>
                        <div class="form-row">
                            <div class="col-md-6 mb-4">
                                <label for="rut" class="label mt-3" id="LabelLogin">Ingrese rut: </label>
                                <input type="text" formControlName="rut" placeholder="Ingrese RUT">
                                <div  *ngIf="rut.hasError('required')" class="requerido">*Este campo es requerido.</div>
                                <div  *ngIf="rut.errors?.pattern">Patrón requerido</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-4">
                                <label for="clave" class="label mt-3" id="labelLogin">Ingrese contraseña: </label>
                                <input type="password" formControlName="clave" placeholder="Ingrese contraseña">
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="submit" id="loginButton"> Ingresar</button>
                        </div>
                        <div class="form-row">
                            <br>
                            <a href="/auth/recuperar-clave" class="clave"> Recuperar contraseña</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>      
    </div>
</div>