<app-navbar></app-navbar>
<app-footer></app-footer>

<div class="container-fluid lg-mt-5 md-mt-4 sm-mt-2 pt-4 ">
  <div class="row">
    <div class="col-2 d-none d-sm-none d-md-block">
      <app-sidebar-apoderado></app-sidebar-apoderado>
  </div>
    <div class="col">
      <div class="card shadow bg-white">
        <div class="card-header">
          <p>Libreta de comunicaciones </p>
        </div>
        <div class="card-body"> 
          <form  [formGroup]="alumnoSelectForm">
            <label for="selectAlumno-input" class="form-label"><strong>SeleccionarAlumno</strong></label>
            <select class="selectAlumno-input" formControlName="alumnoSelect" id="selectAlumno-input"
                style="width:fit-content" (change)=" actualizarAlumnos ($event)">
                <option selected disabled>Seleccione un curso</option>
                <option *ngFor=" let alumno of alumnos" [value]="alumno.rut">{{alumno.nombres}}
                    {{alumno.apellidoPaterno}}</option>
            </select>
        </form>
          <table class="table table-bordered">
            <thead>
              <tr>                
                <th scope="col">Asunto</th>
                <th scope="col">Mensaje</th>
                <th scope="col">Firmar</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let com of comunicaciones">
                  <td>{{com.asunto}}</td>
                  <td>{{com.contenidoComunicacion}}</td>
                  <td>     <button class="btn btn-danger" (onclick)="firmar()">Firmar</button></td>
                </tr >
            </tbody>
          </table>
          <br>
        </div>
      </div>
      <div class="card shadow bg-white">
        <div class="card-content d-block d-sm-block d-md-none">
            <div class="menu">
                <h4 class="titulos">Consultar</h4>
                <a href="apoderados/calificaciones" class="d-block"><i
                        class="fas fa-user-graduate lead p-3"></i>Calificiaciones</a>
                <a href="apoderados/asistencia" class="d-block"><i
                        class="fas fa-user-check lead p-3"></i>Asistencia</a>
                <a href="apoderados/comportamiento" class="d-block"><i
                        class="far fa-edit lead p-3"></i>Comportamiento</a>
                <a href="apoderados/comunicaciones" class="d-block"><i
                        class="far fa-envelope lead p-3"></i>Comunicaciones</a>
                <a href="apoderados/horario" class="d-block"><i class="far fa-calendar-alt lead p-3"></i>Horario
                    de clases</a>
            </div>
        </div>
    </div>
    </div>
  </div>


</div>


<ng-template #modalFirma>
  <div class="modal-header">
      <div class="modal-title"> Acusar recibo de la comunicación </div>
      <div class="modal-body">
        
      </div>
  </div>
</ng-template>