<app-navbar></app-navbar>
<app-footer></app-footer>

<div class="container my-4">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="selectAlumno" data-bs-toggle="dropdown" aria-expanded="false">
                        Seleccionar Alumno:
                </button>
                <ul class="dropdown-menu" aria-labelledby="selectAlumno">
                    <li><a class= "dropdown-item" *ngFor= "let alumno of alumnos" href="#"> {{alumno}} </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
