<app-navbar></app-navbar>

<div class="containter">
    <div class="row">
        <div class="col">
            <div class="cad shadow bg-white">
                <div class="card-content">
                    <h4 class="titulos">Administrar perfil Profesor o Funcionario</h4>
                    <button class="genericButton">Crear nuevo usuario</button>
                </div>
                <div class="card-body">
                                  
                </div>
            </div>
        </div>
    </div>
</div>