<app-navbar></app-navbar>
<app-footer></app-footer>
<!--
<div class="container-fluid lg-mt-5 md-mt-4 sm-mt-2 pt-4 ">
  <div class="row">
    <div class="col-2 d-none d-sm-none d-md-block">
      <app-sidebar-apoderado></app-sidebar-apoderado>
  </div>
    <div class="col">
      <div class="card shadow bg-white">
        <div class="card-header">
          <p>Asistencia a clases</p>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Asiste</th>
                <th scope="col">Justifica</th>
                <th scope="col">Observaciones</th>
              </tr>
            </thead>
            <tbody>

                <td scope="row" data-titulo="Fecha: ">{{dia.fecha}}</td>


                <td *ngIf="dia.asiste; else inasistencia" data-titulo="Asiste: ">Si </td>


                <td *ngIf="!dia.asiste && dia.justifica; else noJustifica" data-titulo="Justifica:">Si</td>


                <td class="d-block d-sm-none d-md-block">{{dia.observaciones}}</td>


                <ng-template #inasistencia>
                  <td data-titulo="Asiste: ">NO</td>
                </ng-template>


                <ng-template #noJustifica>
                  <td *ngIf="!dia.asiste && !dia.justifica else noAplica" data-titulo="Justifica:">NO</td>
                </ng-template>

                <ng-template #noAplica>
                  <td *ngIf="dia.asiste && !dia.justifica" data-titulo="Justifica: "></td>
                </ng-template>

              </tr>
            </tbody>
          </table>
          <br>
          <pagination-controls (pageChange)="p = ($event)"></pagination-controls>
        </div>
      </div>
      <div class="card shadow bg-white">
        <div class="card-content d-block d-sm-block d-md-none">
            <div class="menu">
                <h4 class="titulos">Consultar</h4>
                <a href="apoderados/calificaciones" class="d-block"><i
                        class="fas fa-user-graduate lead p-3"></i>Calificiaciones</a>
                <a href="apoderados/asistencia" class="d-block"><i
                        class="fas fa-user-check lead p-3"></i>Asistencia</a>
                <a href="apoderados/comportamiento" class="d-block"><i
                        class="far fa-edit lead p-3"></i>Comportamiento</a>
                <a href="apoderados/comunicaciones" class="d-block"><i
                        class="far fa-envelope lead p-3"></i>Comunicaciones</a>
                <a href="apoderados/horario" class="d-block"><i class="far fa-calendar-alt lead p-3"></i>Horario
                    de clases</a>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

-->