<app-navbar></app-navbar>

<div class="container container-padding">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-sm-6 mt-4">
            <div class="card shadow-lg p-3 mb-5 bg-white">
                <div class='card-header'> Administración</div>
                <div class="card-body">
                    <div class="container">
                        <div class="row ">

                            <!-- ADMINISTRAR PROFESORES -->
                            <div class="col-lg-3 col-sm-3 mt-4">
                                <div class="card shadow-lg p-3 mb-2 bg-white">
                                    <div class="card-body">
                                        <h5 style="text-align: center">Administrar profesores y funcionarios</h5>
                                        <button onclick="location.href='/admin/admin-profile-prof-func'"
                                            class="btn mt-3 mb-4" id="adminProfesorButton">Ir</button>
                                    </div>
                                </div>
                            </div>

                            <!-- ADMINISTRAR APODERADOS -->
                            <div class="col-lg-3 col-sm-3 mt-4">
                                <div class="card shadow-lg p-3 mb-2 bg-white">
                                    <div class="card-body">
                                        <h5 style="text-align: center">Administrar apoderados y alumnos</h5>
                                        <button onclick="location.href='/admin/admin-profile-apoderado'"
                                            class="btn mt-3 mb-4" id="adminProfesorButton">Ir</button>
                                    </div>
                                </div>
                            </div>

                            <!-- ADMINISTRAR CURSOS -->

                            <div class="col-lg-3 col-sm-3 mt-4">
                                <div class="card shadow-lg p-3 mb-5 bg-white">
                                    <div class="card-body">
                                        <h5 style="text-align: center" >Administrar <br>Cursos y Asignaturas</h5>
                                        <button onclick="location.href='/admin/admin-courses'"
                                        class="btn mt-3 mb-4" id="adminProfesorButton">Ir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
