<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-3 d-none d-sm-none d-md-block">
            <!--SIDEBAR-->
            <div class="sidebar mb-5">
                <div class="card shadow bg-white">
                    <div class="card-content">
                        <div class="tituloSideBar"> <strong> Comunicaciones</strong></div>
                        <ul>
                            <li><a href="prof-func/notify-send"><i class="fas fa-paper-plane lead p-3"></i>Enviar Comunicacion</a></li>
                            <li><a ><i class="fas fa-envelope lead p-3"></i>Revisar mis comunicaciones</a></li>
                            <li><a><i class="fas fa-mail-bulk lead p-3"></i>Revisar todas</a></li>
                            <li><a href="prof-func/prof-func-home"><i class="fas fa-home lead p-3"></i>Menú principal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Componentes-->
        <div class="col" id='contFAlumno'>
            <div class="card shadow bg-white mt-1">
                <div class="card-content" >
              <h1>el menu</h1>      
                </div>
            </div>
        </div>
    </div>
</div>