.navbar
{
    background-color: #11698e;
    height: 4rem;
    
}

.btn
{
    background-color: #11698e;
    border-radius: 6px;
    border-color: whitesmoke;
    color: white;
    width: 6rem;
}

.borde
{
    border: 1px solid red;
    padding-left: 0px;
    padding-right: 0px;
}