<nav class="navbar">
    <li>
    </li>
    <ul class="navbar-nav">
        <li  class="nav-item p-2">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Notificaciones</a></li>
                    <li><a class="dropdown-item" href="#">Actualizar datos</a></li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>

