<div class="card shadow bg-white">
    <div class="card-content">
      <h4 class="consultar">Consultar</h4>
      <div class="sidebar">
        <ul>
          <li><a href="apoderados/calificaciones"><i class="fas fa-user lead p-3"></i>Crear</a></li>
          <li><a href="apoderados/asistencia"><i class="fas fa-user-edit lead p-3"></i>Actualizar</a></li>
          <li><a href="apoderados/comportamiento"><i class="far fa-delete lead p-3"></i>Eliminar</a></li>
        </ul>
    </div>
    
    </div>
    </div>
      