<app-navbar></app-navbar>
<app-footer></app-footer>
<h3 class= "encabezado">Horario de clases</h3>
<div class="container mt-3">
  <!-- Tabla de horario -->
    <table class="table table-bordered mx-2">
      <!-- Días de la semana y horas -->
        <thead>
          <tr>
            <th scope="col">Hora</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
          </tr>
        </thead>
        <tbody>            
          <tr *ngFor = "let hora of horas">
            <th scope="row">{{hora.hora_inicio}} - {{hora.hora_termino}}</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
</div>
