<app-navbar></app-navbar>
<app-footer></app-footer>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-2 d-none d-sm-none d-md-block">
      <app-sidebar-apoderado></app-sidebar-apoderado>
  </div>
    <div class="col">
      <div class="card shadow bg-white">
        <div class="card-header">
          <h3>Comunicaciones</h3>
        </div>  
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <table class="table table-bordered mx-2">
                  <thead>
                    <tr>
                      <th scope="col">Hora</th>
                      <th scope="col">Lunes</th>
                      <th scope="col">Martes</th>
                      <th scope="col">Miercoles</th>
                      <th scope="col">Jueves</th>
                      <th scope="col">Viernes</th>
                    </tr>
                  </thead>
                  <tbody>            
                    <tr *ngFor = "let hora of horas">
                      <td data-titulo="hora"scope="row">{{hora.hora_inicio}} - {{hora.hora_termino}}</td>
                      <td data-titulo="lunes">1</td>
                      <td data-titulo="martes"> 2</td>
                      <td data-titulo="miercoles">3</td>
                      <td data-titulo="jueves">4</td>
                      <td data-titulo="viernes">5</td>
                    </tr>      
                  </tbody>
                </table>          
              </div>
            </div>
          </div>
        </div>      
      </div>
      <div class="card shadow bg-white">
        <div class="card-content d-block d-sm-block d-md-none">
            <div class="menu">
                <h4 class="titulos">Consultar</h4>
                <a href="apoderados/calificaciones" class="d-block"><i
                        class="fas fa-user-graduate lead p-3"></i>Calificiaciones</a>
                <a href="apoderados/asistencia" class="d-block"><i
                        class="fas fa-user-check lead p-3"></i>Asistencia</a>
                <a href="apoderados/comportamiento" class="d-block"><i
                        class="far fa-edit lead p-3"></i>Comportamiento</a>
                <a href="apoderados/comunicaciones" class="d-block"><i
                        class="far fa-envelope lead p-3"></i>Comunicaciones</a>
                <a href="apoderados/horario" class="d-block"><i class="far fa-calendar-alt lead p-3"></i>Horario
                    de clases</a>
            </div>
        </div>
    </div>
  </div>
</div>

<!--
  <table class="table table-bordered mx-2">
            Días de la semana y horas
            <thead>
              <tr>
                <th scope="col">Hora</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
              </tr>
            </thead>
            <tbody>            
              <tr *ngFor = "let hora of horas">
                <th scope="row">{{hora.hora_inicio}} - {{hora.hora_termino}}</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>      
            </tbody>
          </table>          

-->


