<div class="card shadow bg-white">
<div class="card-content">
  <h4 class="consultar">Consultar</h4>
  <div class="sidebar">
    <ul>
      <li><a href="apoderados/calificaciones"><i class="fas fa-user-graduate lead p-3"></i>Calificaciones</a></li>
      <li><a href="apoderados/asistencia"><i class="fas fa-user-check lead p-3"></i>Asistencia</a></li>
      <li><a href="apoderados/comunicaciones"><i class="far fa-envelope lead p-3"></i>Comunicaciones</a></li>
      <li><a href="apoderados/horario"><i class="far fa-calendar-alt lead p-3"></i>Horario</a></li>
      <li><a href="apoderados/apoderado-home"><i class="far fa-home lead p-3"></i>Menú principal</a></li>
    </ul>
</div>

</div>
</div>
  

        
        
        
        
        
