<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-3 d-none d-sm-none d-md-block">
            <!--SIDEBAR-->
            <div class="sidebar mb-5">
                <div class="card shadow bg-white">
                    <div class="card-content">
                        <div class="tituloSideBar"> <strong> Comunicaciones</strong></div>
                        <ul>
                            <li><a href="/prof-func/prof-func-home"><i class="fas fa-paper-home lead p-3"></i>Menú principal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Componentes-->
        <div class="col" id='contFAlumno'>
            <div class="card shadow bg-white mt-1 mn-3">
                <div class="card-header">
                    <i class="fas fa-user-check p-2"></i>
                    Tomar asistencia
                </div>
                <div class="class-body mb-5 pb-3">

                    <!-- REGISTER FORM-->
                    <form (ngSubmit)="onSave()" [formGroup]="comunicacionRegisterForm" *ngIf="comunicacionRegisterForm">
                        <div class="row mx-2 mt-4">

                            <!-- Curso -->
                            <div class="col-lg-12">
                                <div class="mb-3">

                                    <label for="selectCursoId" class="form-label"><strong>Seleccionar
                                            Curso</strong>(<span class="color">*</span>)</label>
                                    <select class="form-control" formControlName="idCurso" id="selectCursoId"
                                        style="width:fit-content" (change)="actualizarAlumnos($event)">
                                        <option selected disabled>Seleccione un curso</option>
                                        <option *ngFor=" let curso of cursos" [value]="curso.idCurso">{{curso.numero}}°
                                            {{curso.grado}}</option>
                                    </select>

                                    <label for="selectCursoId" class="form-label mt-2"><strong>Seleccionar
                                        Alumnos inasistentes    </strong>(<span class="color">*</span>)</label>    
                                    <ng-select formControlName="selectAlumno" [multiple]="true">
                                        <ng-option *ngFor="let al of alumnos" [value]="al.rut">{{al.nombres}}
                                            {{al.apellidoPaterno}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="row justify-content-evenly mt-3 mb-3">
                                <div class="col-lg-2 col-3">
                                    <button type="submit" class="btn btn-success"
                                        [disabled]="!comunicacionRegisterForm.valid">Enviar</button>
                                </div>
                                <div class="col-lg-2 col-3">
                                    <button class="btn btn-danger" (click)="onCancel()">Cancelar</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>