.card-header{
    border: 6px;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2a2a2a;
    background-color: white;
}

.card-body
{
    border: 6px;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2a2a2a;
}


.accordion-button
{
    background-color: #ae3978;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1.3rem;
    
}

.accordion-body a{
    color: #2a2a2a;
}


@media(max-width: 30em)
{
    #contFAlumno{
     margin-left: 1em;
    }
}

.lectura input
{
    background-color: white;
}

.titulos
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#0992cd;
    font-size: 1.8rem;
    text-align: left;
    margin-top: 0.8em;
    margin-left: 1rem;
}

.menu
{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  #2a2a2a;
}


.menu a{
    text-decoration: none;
    color: #2a2a2a;
    font-weight: bold;
}

.menu i{
    color: #ae3978;
}