<app-navbar></app-navbar>


<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-2 d-none d-sm-none d-md-block">
            <app-sidebar-apoderado></app-sidebar-apoderado>
        </div>
        <div class="col-10">
            <div class="card shadow bg-white mt-1 mn-3">
                <div class="card-content">
                    <form  [formGroup]="alumnoSelectForm">
                        <label for="selectAlumno-input" class="form-label mt-2"><strong>SeleccionarAlumno</strong></label>
                        <select class="selectAlumno-input" formControlName="alumnoSelect" id="selectAlumno-input"
                            style="width:fit-content" (change)=" actualizarAlumnos ($event)">
                            <option selected disabled>Seleccione un curso</option>
                            <option *ngFor=" let alumno of alumnos" [value]="alumno.rut">{{alumno.nombres}}
                                {{alumno.apellidoPaterno}}</option>
                        </select>
                    </form>
                    <form [formGroup]="alumnoSelectedForm">
                            <label for="nombres-input" class="form-label"><strong>Nombres:</strong></label>
                            <input readOnly="readOnly" type="text" class="form-control" id="nombres-input" formControlName="nombres">
                
                        <label for="apellidoPaterno-input" class="form-label"><strong>Apellido Paterno:</strong></label>
                        <input readOnly="readOnly" type="text" class="form-control" id="apellidoPaterno-input"
                            formControlName="apellidoPaterno" >
                            
                        <label for="apellidoMaterno-input" class="form-label"><strong>Apellido Materno:</strong></label>
                        <input readOnly="readOnly" type="text" class="form-control" id="apellidoPaterno-input"
                            formControlName="apellidoMaterno" >
                </form>
            </div>
        </div>
    </div>
</div>
</div>