.footerPosition
{
    background-color: #11698e;
    color: white;
    position:fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    bottom: 0px;
}

.footerAuthorText
{
    text-align: left;
    margin-top: 0.5cm;
}